

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


  /* share style */

.secondary-bg{
    background-color: #FFF8F3;
}

.primary-color {
    color: #FD6E0A;
  }
.dark-3{
    font-size: 20px;
    color: #757575;
}
.dark-2{
    color: #474747;
}
.dark-1{
    color: #181818;
}
.btn-primary {
    background-color: #FD6E0A;
    color: #fff;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description {
    font-size: 18px;
    color: #757575;
}
/* Nave Style */


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner Style */

.header{
    background-image: url(../images/developer.png), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px;
}
.banner-imag{
    width: 485px;
}
.banner-content{
   max-width: 585px;
}
.sub-title{
    font-size: 45px;
    font-weight: 600;
    margin: 136px 0 10px 0;
}
.title{
    font-size: 85px;
    font-weight: bold;
    margin: 0;
}
.banner-description{
    font-size: 18px;
    color: #757575;
    
}

/* About Style */
main{
    /* width: 1140px; */
    margin: 100px auto;
    
}
.about{
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 131px 156px;
    margin-top: 130px;
    text-align: center;
}
.about-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}
.center{
    text-align: center;
}



/* Skill Section Style */


.skill-section{
    max-width: 1200px;
    margin: 150px auto 150px;
    text-align: center;
}
.skill-content-box {
    display: flex;
    text-align: left;
    gap: 20px;
    
}
.skill-box{
    margin-top: 50px;
    padding: 30px;
   box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
   border-radius: 5px;
}
.skill-contant-description {
    font-size: 18px;
    color: #757575;
}
.box-title{
    font-size: 1em;
    font-weight: bold;
    
}
.box-description {
    font-size: 16px;
    color: #757575;
}


/* Resume Section Style */
.resume{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.resume-container {
    display: flex;
    text-align: left;
    gap: 15px;
}
.btn-primary {
    background-color: #FD6E0A;
    color: #fff;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  
}


/* Footer Style */
.footer-content{
    max-width: 1200px;
    display: flex;
    
    /* justify-content: space-between; */
    margin: 0 auto;
    gap: 117px;
    /* margin: 0 230px; */
    padding: 130 0px;
}
input[type="text"] {
    height: 46px;
    padding: 5px 20px;
    width: 100%;
    margin: 23px 0;
    outline: none;
    border: none;
}
input[type="email"] {
    height: 46px;
    padding: 5px 20px;
    width: 100%;
    margin: 23px 0;
    outline: none;
    border: none;
}
textarea {
    border: none;
    width: 100%;
    padding: 20px;
    outline: none;
}
input.btn-primary {
    margin-top: 24px;
}
.hide{
    display: none;
}


@media screen  and (max-width: 576px) {
    .footer-content ,.about-items, .banner, nav, nav ul {
        flex-direction: column;
        padding: 10;
        margin: 0;
    }
    button{
        margin-top: 10px;
    }
    .banner img{
        width: 100%;
    }
    .about {
        padding: 10px;
    }
    input[type="email"]{
        width: calc(100% - 40px);
    }
    input[type="text"]{
        width: calc(100% - 40px);
    }
    textarea{
        width: calc(100% - 40px);
    }
    
}
@media screen and (max-width: 576px){
    
    .skill-content-box, .resume-container {
        flex-direction: column;

    }
    .resume-colum{
        margin: 10px;
    }

}